body{
    background-color: #e5ffff;
}

main{

    width: 960px;
    height: 500px;
    margin-left: calc(50% - 960px / 2);
}
#image1{
    width: 106%;
}
#text{
    font-size: 16px;
    margin-top: 10px;
}
#left{
    display: inline-block;
    width: 40%;
    margin-top: 90px;
    float: left;
    text-align: center;
}
#right{
    display: inline-block;
    width: 55%;
    float: right;
    margin-top: 40px; 
    text-align: center;
}
#num{
    font-size: 100px;
    font-weight: bold;
    font-family: verdana;
    color: rgb(27, 27, 137);
    line-height: 0.8;
    margin-bottom: 40px;
}
p{
    color: rgb(74, 20, 121);
    line-height: 1.4;
    font-size: 23px;
    margin-bottom: 40px;
}
button{
    background-color: rgb(89, 192, 195);
    color: rgb(74, 20, 121);
    font-style: small-caps;
    font-weight: 40px;
    border: 0px;
    padding-top: 15px;
    padding-bottom: 13px;
    padding-left: 40px;
    padding-right: 40px;
    font-weight: bold;
    word-spacing: 5px;
}