body{
    background-color: #acbddf;
}

main{

    width: 500px;
    height: 300px;
    /* margin-left: calc((100% - 500px) / 2); */
    margin-left: calc(50% - 500px / 2);
    margin-right: calc(50% - 500px / 2);
}

#left{
    display: inline-block;
    width: 40%;
    margin-top: 40px;
    float: left;
}
#right{
    display: inline-block;
    width: 55%;
    float: right;
    margin-top: 40px; 
    margin-right: 5%;
    /* text-align: center; */
}